{{#each posts as |post|}}
  <div class="blog-card">
    <section class="card">
      {{!-- {{#if loggedIn}} --}}
      <header>{{post.post_title}}
        <span style="float:right">
          Created on,
          {{post.date_created}}</span></header>
      {{!-- {{/if}} --}}
      <div class="card-item">
        <p>{{post.post_content}}</p>
      </div>
    </section>
  </div>
{{/each}}
{{! <div class="blog-card">
        <section class="card">
          <header>Second Blog Title</header>
          <div class="card-item">
            <p>Blog content here</p>
          </div>
        </section>
      </div>
      <div class="blog-card">
        <section class="card">
          <header>Third Blog Title</header>
          <div class="card-item">
            <p>Blog content here</p>
          </div>
        </section>
      </div> }}
