{{#each posts as |post|}}
  <div class="blog-card">
    <section class="card">
      <header>{{post.postTitle}}</header>
      <div class="card-item">
        <p>{{post.postContent}}</p>
      </div>
    </section>
  </div>
{{/each}}
{{! <div class="blog-card">
        <section class="card">
          <header>Second Blog Title</header>
          <div class="card-item">
            <p>Blog content here</p>
          </div>
        </section>
      </div>
      <div class="blog-card">
        <section class="card">
          <header>Third Blog Title</header>
          <div class="card-item">
            <p>Blog content here</p>
          </div>
        </section>
      </div> }}
