/* Create CSS variables at the root of the document to be used throughout the style sheet */
:root {
  --white: #fff;
  --dark-blue: #13293d;
  --tan: #d8a47f;
  /* You can use it with any value that is repeated throughout the sheet */
  --border-radius: 50px;
  --background-color: #577a7c;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

header {
  padding: 10px;
  text-align: center;
  background: var(--dark-blue);
  color: var(--white);
}

nav {
  display: flex;
  background-color: var(--tan);
}

nav a {
  color: var(--dark-blue);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  bottom: 10;
  padding: 20px;
  text-align: center;
  background: var(--dark-blue);
  color: var(--white);
  margin-top: 30px;
}

.blog-card {
  /* background-color: var(--white); */
  width: 100%;
}

.card {
  border-style: solid;
  border-width: 1px;
  padding: 10px;

  margin: 20px;
  border: 2px solid var(--dark-blue);
}

.card-item {
  padding: 10px;
  text-align: left;
  border-style: ridge;
}

.card > header {
  /* padding: 20px; */
  padding: 15px;
  text-align: center;
  background: var(--background-color);
}
form .form-group {
  display: block;
  width: 100%;
  margin: 0.625rem 0;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
.login-card {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 5px;
  border: 3px solid var(--dark-blue);
  border-radius: 0.3rem;
  border-style: double;
  border-width: thick;
  background-color: var(--background-color);
  color: var(--white);
}

.dashbord-card {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 80%;
  padding: 35px;
  border: 3px solid var(--dark-blue);
  border-radius: 0.3rem;
  border-style: double;
  border-width: thick;
  background-color: var(--background-color);
  color: var(--white);
}
